---

---
<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width">
      <title>Elia Maggioni</title>
      <meta name="description" content="Elia Maggioni">
      <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
   </head>
   <div id="versione2"></div>
   <body>
      <navbar>
         <div class="topbar">
            <div id="titlecentered" class="sfalzo">
               <div class="containertitle">
                  <p class="ptitle"><b> Elia Maggioni</b></p>
               </div>
               <div id="navigation" class="containertitle ml12">
                  <p id="curriculum">Curriculum</p>
                  <p id="curriculum">Curriculum - Sezione Generale</p>
                  <p id="curriculum">Curriculum - Sezione Progetti</p>
               </div>
            </div>
            <div class="switchdiv switchdiva topbarlast2">
               <p id="darkmode">Enable_Dark_Mode</p>
            </div>
            <div class="switchdiv switchdiva topbarlast1"> <label class="theme-switch switch"> <input type="checkbox"> <span class="slider round"></span> </label> </div>
         </div>
         <div class="ombratitolo"></div>
      </navbar>
      <div id="tracker"></div>
      <div class="parallax" id="parallasse">
         <div id="elem1" class="gruppo_parallasse">
            <div class="layer_parallasse layer_parallasse-fronte maincard">
              <div class="topspacer">
              </div>
               <div class="maintab card">
                  <b>
                     <div class="maintabdivider"></div>
                     <center><span class="moltogrande">Curriculum Vitae </span></center>
                     </br>
                  </b>
                  <div class="maintext">
                     <div class="containertestoelem1">
                        <div class="testo1elem1" class="slimtop">
                           <p> </br> </span><b><span class="grande">Istruzione:</span></b></br><b>2018 - In Corso</b></br> Laurea Triennale in Ingegneria Informatica presso Politecnico di Milano. </br><b>2013 - 2018 </br>Diploma di Maturità Scientifica</b> presso Liceo Scientifico scienze applicate Ezio Vanoni Menaggio. Voto 74/100</br> </br> </br><b><span class="grande">Esperienze Professionali:</span></b></br><b>2017</br> I.M.E. TV snc di Grandola ed Uniti (CO)</b> Stage curriculare. Assistenza clienti in loco impianti elettrici ed informatici, affiancato ad un tecnico specialista. Progetto formativo di 150 ore.</b> </br> </br> <b> 2016</br> Politecnico di Milano sede di Como</b></br> Stage curriculare. Sviluppo di applicativi software per controllo hardware e sensoristica. Stesura in team di un documento illustrativo ed informativo da presentare agli insegnanti nell’ambito di un progetto formativo indirizzato ad istituti primari e secondari di primo e secondo grado. Progetto formativo di 150 ore.</br> </br> <b>2015</br> Fraquelli Ettore s.r.l. di Menaggio (CO)</br></b> Stage curriculare facoltativo. Supporto all’ufficio amministrativo ed al reparto IT. Progetto formativo di 50 ore. </br> </br> <b>2015</br> Università Insubria di Como</br></b> Stage curricolare. Programmazione e sviluppo su Lego Mindstorm. Progetto Formativo di 150 ore.</p>
                        </div>
                     </div>
                     <div class="containertestoelem2">
                        <div class="containertesto2elem1">
                           <p class="slimtop"><b><span class="grande"></br>Progetti svolti:</span></b></br> </p>
                           <ul class="slimbottom">
                              <li> Sviluppo HW/SW NAS cloud web server usando MariaDB e ownCloud con Raspberry PI.</li>
                              <li> Modifica di software open source per monitoraggio mezzi pubblici ATM Milano.</li>
                              <li> Sviluppo di software in team ad uso di PoliNetwork atto ad aiuto ed indirizzamento matricole e supporto per laureandi/dottorandi.</li>
                           </ul>
                           <p class="slimtop"><b><span class="grande"></br>Progetti In Corso:</span></b></br> </p>
                           <ul class="slimbottom">
                              <li> Sviluppo Siti Web, personale ed aziendale. </li>
                              <li> Sviluppo di SW in team ad uso di PoliNetwork atto ad aiuto ed indirizzamento matricole e supporto per laureandi/dottorandi. </li>
                           </ul>
                           <p class="slimtop"><b><span class="grande"></br>Conoscenze Informatiche:</span></b></br> </p>
                           <p><b>Sistemi Operativi: </b> Linux (Fedora, Arch Linux, Ubuntu Server, …), Windows, Mac OS.</p>
                           <p><b>Linguaggi di programmazione:</b> HTML, CSS, Javascript, C, Python.</p>
                           <p class="slimbottom"><b>Software:</b> Pacchetto Office, Team Viewer, suite Adobe, vari IDE</p>
                           <p class="slimtop"><b><span class="grande"></br>Lingue Straniere:</span></b></br> </p>
                           <p><b>Inglese:</b> Comprensione: Ottima. Scritto e Pronuncia: Buona</p>
                           <p><b>Francese:</b> Elementare.</p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="blocchetti">
                  <div class="sidetab1 sidetab card">
                     <p class="titoloblock">Progetto: NAS cloud web server</p>
                     <p class="testoblock"> In questo progetto ho utilizzato una Raspberry Pi connessa ad un hard disk per creare un cloud storage online da cui potessi accedere da remoto.</br>Per il database ho usato MariaDB mentre come gestore del cloud ho utilizzato ownCloud. Ho infine usato un dynamic-DNS per poter raggiungere il cloud storage dall'esterno della mia rete locale. Ho poi configurato il cloud per essere accessibile dall'applicazione mobile, web client e FTP</br></p>
                  </div><div class="sidetab2 sidetab card">
                     <p class="titoloblock">Progetto: Monitoraggio mezzi pubblici</p>
                     <p class="testoblock"> In questo progetto ho utilizzato una Raspberry Pi connessa ad uno schermo LCD per ricreare un tabellone di arrivi e partenze. Ho modificato del codice open source e connesso con il sito di ATM Milano per la gestione dei mezzi di trasporto.</br></p>
                  </div>
               </div>
               <div class="blocchetti">
                 <div class="sidetab3 sidetab card">
                    <p class="titoloblock">Progetto: Sviluppo di siti web</p>
                    <p class="testoblock">Insieme a questo sito, ne ho sviluppati molti altri in precedenza, ad oggi in hosting ci sono <a href="http://www.falerestprova2.altervista.org/">www.falerestprova2.altervista.org</a> ed inoltre <a href="http://www.cube.eliamaggioni.com/">www.cube.eliamaggioni.com</a>.</br>Il primo si tratta di un sito creato per l'azienda di famiglia, poi mai utilizzato. Il sito principale è completo in tutte le sue parti, mentre i sottodomini non sono stati sviluppati.</br>Il secondo è un progetto personale, un modo innovativo per fare siti web.<br></p>
                 </div><div class="sidetab4 sidetab card">
                    <p class="titoloblock">Progetto: Sviluppo applicativi software</p>
                    <p class="testoblock"> In questo progetto ancora in corso ci siamo occupati di sviluppo di SW in team ad uso di PoliNetwork atto ad aiuto ed indirizzamento matricole e supporto per laureandi/dottorandi. Questi (vari) progetti interessano diversi campi tra cui lo sviluppo e gestione di gruppi, organizzazione studenti e staff e sviluppo di siti web.</br></p>
                 </div>
               </div>
               <div class="blocchetti last2">
                 <div class="sidetab5 sidetab card">
                    <p class="titoloblock">Progetto: Garante del PoliNetwork e ruolo di Gestione lato tecnico</p>
                    <p class="testoblock">Sono entrato nel network a fine 2019, ho creduto nel progetto sin dal principio ed ho cercato di migliorarlo dall'interno di persona e coinvolgendo altre persone nel farlo. Ad oggi sono Garante, gestisco l'interno lato tecnico del network e coordino i progetti ad esso collegati.</br></p>
                 </div><div class="sidetab6 sidetab card">
                    <p class="titoloblock">Progetto: Calcolatrice</p>
                    <p class="testoblock">Calcolatrice funzionante in standard CPL2 a 4 bit. Il risultato, frutto di ore di cablaggio ed assemblaggio seguite al design logico e d'interfaccia della scheda, si articola in quattro bottoni per ogni addendo controllati da dei FlipFlop R/S (più un quinto bottone di Reset che comanda tutti i reset dei FF) e un altro FF R/S per controllare il comando di somma o sottrazione. La logica della somma algebrica è svolta con dei blocchi full-adder funzionti tramite gates NAND e NOR. La calcolatrice è inoltre dotata di un sistema di overflow detection sviluppata anch'essa integralmente tramite gates logici di tipo NOR e OR.</br></p>
                 </div>
               </div>
            </div>
       <div class="layer_parallasse layer_parallasse-base navibar">
               <div class="ptitlesub">
                  <div class="ptitlesubcontainer">
                     <div class="switchdiv switchdivb">
                        <p id="darkmode2">Enable_Dark_Mode</p>
                     </div>
                     <div class="switchdiv switchdivb"> <label class="theme-switchb switch"> <input type="checkbox"> <span class="slider round"></span> </label> </div>
                  </div>
               </div>
               <div id="topTitle">
                 <div class="titlecontainer">
                  <p class="Titolone" id="titlecentered">Sito web scritto e disegnato da <i>Elia Maggioni </i>
                 </div>
               </div>
               <div class="stripe stripe3"></div>
               <div class="stripe stripe4"></div>
            </div>
            <div class="layer_parallasse layer_parallasse-back stripeparallax">
               <div class="stripe stripe1"></div>
               <div class="stripe stripe2"></div>
            </div>
         </div>
    <footer>
          <div id="foot-sec">
              <div class="footer1 footerblock">
                  <p class="testofooter"> Nato a Sondrio il 07/09/1999. Residente in via Bel Cantone 2, 22010 Grandola ed Uniti (CO). Trasferitomi a Milano nel 2018 per frequentare l'università dopo un viaggio in Europa di 1 mese. Mi sono occupato tra le altre cose di vari progetti in questo tempo riportati sopra.</br> Pianifico di ottenere la patente nella prima fase del 2020. </p>
              </div>
              <div class="footer2 footerblock">
                  <p class="testofooter"> E' possibile contattarmi via:</br> - mail personale: elia.maggioni@gmail</br> </p>
              </div>
              <div class="footer3 footerblock">
                  <p class="testofooter"> In compliance with the Italian Legislative Decree no. 196 dated 30/06/2003, I hereby authorize the recipient of this website to use and process my personal details for the purpose of recruiting and selecting staff and I confirm to be informed of my rights in accordance to art. 7 of the above-mentioned decree. </p>
              </div>
              <div class="calcagno">
                  <p class="calcagnotext"><b>Website written and designed by <i>Elia Maggioni</i></b></p>
          </div>
      </div>
    </footer>
      </div>
      </div><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
   </body>
</html>

<style>
   :root{
    --tabbackground:white;
    --mainbackground:#f1f3f4;
    --maintext:#5f6368;
    --colortitle:#202124;
    --colordarktext:#5f6368;
    --border:0px;
    --borderfooter:1px solid #bdc1c6;
    --sidetab1width:60%;
    --sidetab2width:35%;
    --sidetab3width:47.5%;
    --shadow:0 1px 2px 0 rgba(60, 64, 67, .3),0 2px 6px 2px rgba(60, 64, 67, .15);
    --shadowwebkit:0 1px 2px 0 rgba(60, 64, 67, .3),0 2px 6px 2px rgba(60, 64, 67, .15);
    --borderbottom:0px;
    --linkcolor:coral;
    --calcagnocolor:#121212;
    --calcagnotesto:white
}
[data-theme=dark]{
    --tabbackground:#121212;
    --mainbackground:black;
    --maintext:#e1e1ff;
    --colortitle:white;
    --colordarktext:#20C20E;
    --border:1px solid white;
    --borderfooter:1px solid white;
    --sidetab1width:calc(60% - 2px);
    --sidetab2width:calc(35% - 2px);
    --sidetab3width:calc(47.5% - 2px);
    --shadow:0;
    --shadowwebkit:0;
    --borderbottom:solid 1px white;
    --linkcolor:#03DDCB;
    --calcagnocolor:#f1f3f4;
    --calcagnotesto:#121212
}
html{
    font-family:Raleway,sans-serif
}
navbar{
    background:rgba(0,0,0,0)
}
.ombratitolo{
    height:0;
    width:100%;
    -webkit-box-shadow:0 1px 2px 0 rgba(60,64,67,.3),0 2px 6px 2px rgba(60,64,67,.15);
    box-shadow:0 1px 2px 0 rgba(60,64,67,.3),0 2px 6px 2px rgba(60,64,67,.15);
    position:fixed;
    top:51px
}
.maintab{
    width:800px;
    border:var(--border);
    background-color:var(--tabbackground);
    margin:35px auto 50px auto;
    position:relative;
    display:table;
    transform:translateZ(0);
    max-width:90vw!important;
    margin-bottom:70px !important;
}
.topspacer{
  height: 150px;
}
.stripe{
    width:100%;
    position:absolute;
    top:500px;
    height:150px;
    transform:skewY(-3deg) translateY(-50%) translateY(1px)
}
.stripe1{
    top:500px;
    background-color:#ffbd00;
    transform:skewY(-3deg) translateY(-50%) translateY(1px) translateX(-3px)!important
}
.stripe2{
    top:1200px;
    height:75px!important;
    background-color:#ffbd00;
    transform:skewY(-3deg) translateY(-50%) translateY(1px) translateX(-3px)!important
}
.stripe3{
    top:1000px;
    background-color:#121212;
    height:100px
}
.stripe4{
    top:1800px;
    background-color:#121212;
    height:100px
}
.stripe5{
    top:350px;
    background-color:#ba000d;
    height:75px
}
#group1{
    z-index:5
}
#group1 .layer_parallasse-base{
    background:#6c6
}
#group2{
    z-index:3
}
#group2 .layer_parallasse-back{
    background:#7bd266
}
#group6 {
  position: relative;
    top: -150px;
}
#tracker{
    position:absolute;
    height:2px;
    width:2px;
    top:300px;
    left:300px
}
.parallax{
    height:500px;
    height: calc(100vh - 51px);
    overflow-x:hidden;
    overflow-y:auto;
    -webkit-perspective:300px;
    perspective:300px;
    position:relative;
    top: 51px;
}
.gruppo_parallasse{
    position:relative;
    transform-style: preserve-3d;
}
.layer_parallasse{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0
}
.layer_parallasse-fronte{
    -webkit-transform:translateZ(90px) scale(.7);
    transform:translateZ(90px) scale(.7);
    z-index:100;
    position:relative
}
.layer_parallasse-base{
    -webkit-transform:translateZ(0);
    transform:translateZ(0);
    z-index:4
}
.layer_parallasse-back{
    -webkit-transform:translateZ(-300px) scale(2);
    transform:translateZ(-300px) scale(2);
    z-index:3
}
.parallax__layer--deep{
    -webkit-transform:translateZ(-600px) scale(3);
    transform:translateZ(-600px) scale(3);
    z-index:2
}
.debug{
    position:fixed;
    top:0;
    left:.5em;
    z-index:999;
    background:rgba(0,0,0,.85);
    color:#fff;
    padding:.5em;
    border-radius:0 0 5px 5px
}
.debug-on .gruppo_parallasse{
    -webkit-transform:translate3d(800px,0,-800px) rotateY(30deg);
    transform:translate3d(700px,0,-800px) rotateY(30deg)
}
.debug-on .layer_parallasse{
    box-shadow:0 0 0 2px #000;
    opacity:.9
}
.gruppo_parallasse{
    -webkit-transition:-webkit-transform .5s;
    transition:transform .5s
}
.divider{
    width:100%;
    height:0;
    border-bottom:1px solid #bdc1c6
}
.containertesto2elem1{
    padding-left:20px;
    padding-right:50px
}
.elem2{
    overflow:hidden;
    width:100%
}
.stripeparallax{
    top:200px;
    width:100%;
    height:1200px
}
.foregruppetti{
    height:450px
}
.basegruppetti{
    height:300px
}
.elem6{
    background-image:url(background13.png);
    height:150px
}
.titoloblock{
    padding:20px 20px 0 20px;
    text-align:center;
    font-weight:1000
}
.testoblock{
    padding:5px 15px 10px 15px
}
.blocchetti{
    width:800px;
    position:relative;
    margin:0 auto 0 auto;
    padding-top:50px;
}
.sidetab1{
    position:relative;
    display:inline-block;
    background-color:var(--tabbackground);
    width:var(--sidetab1width);
    border:var(--border);
    height:300px;
    margin-right:5%
}
.sidetab2{
    position:relative;
    display:inline-block;
    background-color:var(--tabbackground);
    width:var(--sidetab2width);
    border:var(--border);
    height:300px;
    margin-left:auto
}
.sidetab3{
    position:relative;
    display:inline-block;
    background-color:var(--tabbackground);
    width:var(--sidetab3width);
    border:var(--border);
    height:300px;
    margin-right:5%
}
.sidetab4{
    position:relative;
    display:inline-block;
    background-color:var(--tabbackground);
    border:var(--border);
    width:var(--sidetab3width);
    height:300px;
    margin-left:auto
}
.sidetab5{
    position:relative;
    display:inline-block;
    background-color:var(--tabbackground);
    width:var(--sidetab2width);
    border:var(--border);
    height:300px;
    margin-right:5%
}
.sidetab6{
    position:relative;
    display:inline-block;
    background-color:var(--tabbackground);
    border:var(--border);
    width:var(--sidetab1width);
    height:300px;
    margin-left:auto
}
.last2{
  height: 200px;
}
header{
    contain:layout;
    pointer-events:none;
    position:fixed;
    top:0;
    left:0;
    background-color:var(--tabbackground);
    width:100%;
    border-bottom:var(--borderbottom);
    z-index:10;
    transition:.3s
}
.topbar{
    width: 100%;
    position: fixed;
    height:51px;
    border-bottom:1px solid #bdc1c6;
    z-index:10;
    background-color:var(--tabbackground);
    display: grid;
    overflow:hidden;
    grid-template-columns: 76% 141px 80px;
}
.ptitlesub{
    height:51px;
    display:none;
    width:100%;
    position:relative;
    text-align:center;
    background-color:var(--tabbackground);
    border-bottom:1px solid #bdc1c6
}
.switchsub{
    margin-top:5px
}
.ptitlesubcontainer{
    display:table;
    margin:auto
}
a:link{
    color:var(--linkcolor);
    background-color:transparent;
    text-decoration:none
}
a:visited{
    color:var(--linkcolor);
    background-color:transparent;
    text-decoration:none
}
#navigation{
    position:absolute;
    text-align:left;
    top:0;
    transition:.3s
}
.Titolone{
    font-size:1.5em;
    color:var(--colortitle);
    margin: 0 0 0 0;
    padding-bottom: 20px;
}
.titlecontainer{
  vertical-align: middle;
  display: table-cell;
}
.italic{
    font-style:italic
}
#immaginediv{
    text-align:center
}
.centro{
    text-align:center
}
.testocasella{
    padding:0 10px 0 10px
}
#immagine{
    padding-top:45px;
    width:250px;
    height:250px
}
.testo1elem1 {
    width: 329px;
    padding-left: 50px;
    padding-right: 20px;
    height: 823px;
    vertical-align: middle;
    border-right: 1px solid #bdc1c6
}

.maintext {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.testo2elem1 {
    width: 330px;
    height: 823px;
    padding-left: 20px;
    padding-right: 50px
}

.containertestoelem {
    display: inline-grid;
    vertical-align: top;
    max-width: 400px;
    margin-top: 16px
}

.containertestoelemA {
    grid-column: 1;
}

.containertestoelemB {
    grid-column: 2;
}

.progetto{
    max-width:85%;
    margin:auto
}
#topTitle{
    z-index:1;
    height:236px;
    background-color:var(--tabbackground);
    transition:.3s;
    display:table;
    width:100%;
    box-shadow:var(--shadow);
    border-bottom:var(--borderbottom)
}
.ptitle{
    display:inline-block;
    padding-left:5px;
    margin-top: 16px;
    margin-bottom: 16px;
}
.grande{
    font-size:1.2em;
    padding-top:8px
}
.slimtop{
    margin-top:8px
}
.slimbottom{
    margin-bottom:8px
}
.moltogrande{
    font-size:1.3em
}
.ml12{
    font-weight:200
}
.ml12 .letter{
    display:inline-block;
    line-height:1em
}
.containertitle{
    display:inline-block;
    padding-left:6px
}
#titlecentered{
    text-align:center;
    vertical-align:middle;
}
.sfalzo{
  grid-row: 1;
  grid-column: 1;
  margin-left: 24%;
}
.topbarlast2{
  grid-row: 1;
  grid-column: 2;
}
.topbarlast1{
  grid-row: 1;
  grid-column: 3;
  margin-left: 0px !important;
}
#curriculum{
    text-align:inherit;
    min-height:19px;
    margin:16px 0 16px 0
}
.card{
    border-radius:3px;
    -webkit-box-shadow:0 1px 2px 0 rgba(60,64,67,.3),0 2px 6px 2px rgba(60,64,67,.15);
    box-shadow:0 1px 2px 0 rgba(60,64,67,.3),0 2px 6px 2px rgba(60,64,67,.15);
    vertical-align:top;
    margin-bottom:40px
}
body,html{
    background-color:var(--mainbackground);
    color:var(--maintext);
    text-align:justify;
    transition:.3s;
    margin:0
}
footer{
    background-color:var(--mainbackground);
    vertical-align:bottom;
    border-top:1px solid #bdc1c6
}
.footerparallax{
    height:fit-content;
    height: -moz-max-content;
}
.calcagno{
    height:35px;
    background-color:var(--calcagnocolor);
    vertical-align:middle;
    text-align:center;
    color:var(--calcagnotesto)
}
.calcagnotext{
    padding-top:10px;
    margin:0
}

.testofooter{
    padding:30px 35px 10px 35px;
    margin:0
}
#foot-sec {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.calcagno {
     height: 35px;
     background-color: var(--calcagnocolor);
     vertical-align: middle;
     text-align: center;
     color: var(--calcagnotesto);
     grid-row: 2;
     grid-column: 1/4;
 }

.footer1 {
    grid-row: 1;
    grid-column: 1;
}

.footer2 {
    border-left: var(--borderfooter);
    border-right: var(--borderfooter);
    text-align: left!important;
    grid-row: 1;
    grid-column: 2;
}

.footer3 {
    grid-row: 1;
    grid-column: 3;
}

.switchdiv{
    z-index:auto;
    pointer-events:all;
    vertical-align:middle;
    padding-right:10px;
    color:var(--colordarktext);
    margin: auto;
    display: inline-block;
}
#darkmode{
    font-size:.9em;
    font-weight:100
}
#darkmode2{
    font-size:.9em;
    font-weight:100
}
.blocchettihidden{
    display:none
}
.switch{
    position:relative;
    display:inline-block;
    width:60px;
    height:34px;
}
.switch input{
    opacity:0;
    width:0;
    height:0
}
.slider{
    position:absolute;
    cursor:pointer;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#ccc;
    -webkit-transition:.4s;
    transition:.4s
}
.slider:before{
    position:absolute;
    content:"";
    height:26px;
    width:26px;
    left:4px;
    bottom:4px;
    background-color:#fff;
    -webkit-transition:.4s;
    transition:.4s
}
input:checked+.slider{
    background-color:#2196f3
}
input:focus+.slider{
    box-shadow:0 0 1px #2196f3
}
input:checked+.slider:before{
    -webkit-transform:translateX(26px);
    -ms-transform:translateX(26px);
    transform:translateX(26px)
}
.slider.round{
    border-radius:34px
}
.slider.round:before{
    border-radius:50%
}
@media screen and (max-width:850px){
    .sfalzo{
        text-align:left!important;
        margin-left: 30%;
    }
    .topbar{
        grid-template-columns: 1fr;
    }
    .maintab{
        width:95vw
    }
    .containertestoelemA {
        grid-row: 1;
        grid-column: 1;
    }
    .containertestoelemB {
        grid-row: 2;
        grid-column: 1;
    }
    .maintext {
        grid-template-columns: 1fr;
    }
    .testo1elem1 {
        width: auto!important;
        border-right: 0!important;
        height: auto!important;
        padding-right: 50px!important
    }
    .gruppo_parallasse{
        height:fit-content!important;
        height: -moz-max-content;
    }
    .blocchetti{
        max-width:90vw;
        padding-top:0;
        padding-bottom:0
    }
    .sidetab{
        display: block;
        width: 90vw;
        height: auto!important;
    }
    #foot-sec {
        grid-template-columns: 1fr;
    }
    .calcagno {
        grid-row: 4;
        grid-column: 1;
    }
    .footer1 {
        grid-row: 1;
        grid-column: 1;
    }
    .footer2 {
        grid-row: 2;
        grid-column: 1;
        border-left: 0;
        border-right: 0;
        border-bottom: var(--borderfooter);
        border-top: var(--borderfooter);
        text-align: left!important;
    }

    .footer3 {
        grid-row: 3;
        grid-column: 1;
    }
    .testofooter {
        padding: 30px 35px 30px 35px
    }
    .testofooter{
        padding:30px 35px 30px 35px
    }
    #group5{
        display:none
    }
    .ptitlesub{
        display:block
    }
    .switchdiva{
        display:none
    }
}
@media screen and (max-width:600px){
  .sfalzo{
      text-align:left!important;
      margin-left: 8%;
  }
}

@media screen and (max-width:399px){
    #titlecentered{
        font-size:.9em!important;
    }
}

</style>

<script>
   document.getElementById("parallasse").onscroll = function(){
 
           if ((document.getElementById("parallasse").scrollTop > "236") && (document.getElementById("parallasse").scrollTop < "1612")) {
 
               document.getElementById("navigation").style.top = "-35px";
 
           } else if (document.getElementById("parallasse").scrollTop < "236"){
               document.getElementById("navigation").style.top = "0px";
 
           }
           if(document.getElementById("parallasse").scrollTop > "1200"){
             document.getElementById("navigation").style.top = "-70px";
           }
       }
 
 
   const toggleSwitch = document.querySelector('.theme-switch input[type="checkbox"]');
   const toggleSwitchb = document.querySelector('.theme-switchb input[type="checkbox"]');
 
 
   function switchTheme(e) {
     if (e.target.checked) {
         document.documentElement.setAttribute('data-theme', 'dark');
         document.getElementById("darkmode").innerHTML = "Disable_Dark_Mode"
         document.getElementById("darkmode2").innerHTML = "Disable_Dark_Mode"
     }
     else {
         document.documentElement.setAttribute('data-theme', 'light');
         document.getElementById("darkmode").innerHTML = "Enable_Dark_Mode"
         document.getElementById("darkmode2").innerHTML = "Enable_Dark_Mode"
     }
   }
 
   document.getElementById("elem1").scroll(function() {
     var $height = window.scrollTop();
     if($height > 50) {
       alert("ciao");
     } else {
       alert("funziono");
     }
   });
 
     toggleSwitch.addEventListener('change', switchTheme, false);
 
     toggleSwitchb.addEventListener('change', switchTheme, false);
 </script>